html, body{
	overflow:hidden;
	margin:0px;
	padding:0px;
	background-color: black;
}

* {
    font-family: Helvetica;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 60px;
}

.fullscreen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}


.unselectable {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

/* HUD elements */
input.login {
	width: 50px;
}

.hud {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.hud > * {
	pointer-events: all;
}

div.righttop {
	float: right;
	color: gray; 
	margin: 10px 10px 0px 0px;
}

div.lefttop {
	position: fixed;
	float: left;
	color: gray; 
	margin: 10px 0px 0px 10px;
}


button.icon {
	font-size: 24px;
	background: black;
	cursor: pointer;
	border: 2px solid black;
	border-radius: 5px;
}





/* incremental controllers - border radius on hte thumb can make it more usable on tablets and phones */
  input[type=range] {
    -webkit-appearance: none;
    height: 10px;
    background-color: gainsboro; 
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: black;
    width: 10px;
    height: 10px;
    cursor: pointer;
  }




/* Comments may have marks which should be highlighted */
mark {
	border-radius: 5px;
	color: white;
	background-color: black;
	cursor: pointer;
}




/* STYLING OF ADDITIONAL HTML ELEMENTS */
#css, #webgl {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
}

#css {
  background: black;
}

#webgl {
  pointer-events: none;
}

#info {
	color: LightGray;
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
	display: none;
}




/* DECAL EDITOR */
canvas.editor {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}